* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 300px;
    margin: 0 auto;
}

input {
    margin: 5px;
}

.breed-img img, .results-img {
    max-width: 300px;
    max-height: 400px;
}

.hidden {
    display: none;
}

h1 {
    text-align: center;
}



/***** Groups & Items  (Desktop) *****/

/* When a web browser is larger than 600px,
   apply these rules */
   @media all and (min-width: 600px) {
    .container {
        max-width: 600px;
    }

    .breed-img img, .results-img {
        max-width: 600px;
        max-height: 700px;
    }
}